body {
  align-content: center;
  font-family: "Happy Monkey", cursive;
  background: linear-gradient(lightblue, white);
}
.heading {
  color: rgb(65, 65, 151);
  box-shadow: 2px 3px 5px;
  width: 180px;
  text-align: center;
  margin-left: 65px;
}
#img1 {
  border-radius: 15px;
  box-shadow: 2px 3px 5px;
  color: blue;
}
.div1 {
  text-align: center;
  border: 10px;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  border: 5px double black;
  background-color: rgb(226, 146, 146);
  text-align: center;
  width: 300px;

  justify-content: space-around;
}
.div2 {
  text-align: center;
}
.div2:hover {
  background-image: url("gift1.jpg");
  background-size: 100% 100%;
  height: 200px;
}
.div3 {
  text-align: center;
}
.div3:hover {
  background-image: url("gift2.jpg");
  background-size: 100% 100%;
  height: 200px;
}
#footer {
  font-style: italic;
  width: 100%;
  margin-left: -7px;
  text-align: center;
}
